@media only screen and (max-width:1108px) {
    .wrapper {
        width: 90%;
    }
    #social {
        position: absolute;
        width: auto;
        margin-top: 82px;
        margin-right: 4px;
    }  
}

@media only screen and (max-width:900px) {
    body {
        font-size: 85%;
    }
    #logo h1 {
        width: 35px;
        height: 35px;
    }
    #logo h2 {
        font-size: 2.2em;
    }
    #social {
        top: 72px;
    }
    .col-3 p {
        column-count: 2;
    }
}

@media only screen and (max-width:750px) {
    #navbar nav a {
        font-size: 0.9em;
    }
    .col-3 p {
        column-count: 1;
    }
    .col-1, .col-2, .col-3 {
        width: 100%;
        margin-left: 0;
        float: none;
    }
    .border-right {
        border-right: 0;
    }
    #detials div {
        height: auto;
    }
}

@media only screen and (max-width:700px) {
    #navbar nav a {
        display: none;
    }
    #navbar nav a.menu-icon {
        display: block;
        float: right;
      }
    #logo h2 {
        display: none;
    }
   
    #social {
       width: 40%;
       display: inline-block;
    }
    .fbook, .gplus, .twit {
        float: left;
        margin-right: auto;
    }
    
}
